@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-white font-rajdhani overflow-x-hidden;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #0f172a; 
  }
  ::-webkit-scrollbar-thumb {
    background: #334155; 
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #475569; 
  }
}

@layer utilities {
  .text-glow-cyan {
    text-shadow: 0 0 10px #00f3ff;
  }
  .text-glow-purple {
    text-shadow: 0 0 10px #bc13fe;
  }
  .text-glow-orange {
    text-shadow: 0 0 10px #ff9100;
  }
  
  .glass-panel {
    @apply bg-slate-900/40 backdrop-blur-md border border-white/10;
  }
}
